.gka-base {
    
    /* background-size: contain;*/

    animation-timing-function: steps(1);
    animation-iteration-count: infinite;

    background-repeat: no-repeat;

    animation-fill-mode: forwards;

    /* Play once*/
    /* animation-iteration-count: 1; */
}

.animation {
    animation-name: keyframes;
    animation-duration: 0.8s;
    border-top: 41px solid transparent;
    background-image: url("./img/sprites.png");
}

@-webkit-keyframes keyframes {
    0% {
        width: 238px;
        height: 239px;
        margin-left: 94px;
        border-top: 41px solid transparent;
        background-position: -3578px 0;
    }
    5.00% {
        width: 177px;
        height: 245px;
        margin-left: 147px;
        border-top: 35px solid transparent;
        background-position: -516px 0;
    }
    10.00% {
        width: 169px;
        height: 238px;
        margin-left: 155px;
        border-top: 42px solid transparent;
        background-position: 0 0;
    }
    15.00% {
        width: 188px;
        height: 206px;
        margin-left: 136px;
        border-top: 75px solid transparent;
        background-position: -1049px 0;
    }
    20.00% {
        width: 233px;
        height: 164px;
        margin-left: 91px;
        border-top: 120px solid transparent;
        background-position: -3345px 0;
    }
    25.00% {
        width: 212px;
        height: 225px;
        margin-left: 112px;
        border-top: 58px solid transparent;
        background-position: -2235px 0;
    }
    30.00% {
        width: 172px;
        height: 238px;
        margin-left: 152px;
        border-top: 45px solid transparent;
        background-position: -169px 0;
    }
    35.00% {
        width: 231px;
        height: 245px;
        margin-left: 93px;
        border-top: 40px solid transparent;
        background-position: -3114px 0;
    }
    40.00% {
        width: 246px;
        height: 232px;
        margin-left: 78px;
        border-top: 51px solid transparent;
        background-position: -3816px 0;
    }
    45.00% {
        width: 225px;
        height: 230px;
        margin-left: 99px;
        border-top: 50px solid transparent;
        background-position: -2662px 0;
    }
    50.00% {
        width: 202px;
        height: 250px;
        margin-left: 122px;
        border-top: 30px solid transparent;
        background-position: -1825px 0;
    }
    55.00% {
        width: 200px;
        height: 243px;
        margin-left: 124px;
        border-top: 37px solid transparent;
        background-position: -1625px 0;
    }
    60.00% {
        width: 199px;
        height: 256px;
        margin-left: 125px;
        border-top: 24px solid transparent;
        background-position: -1426px 0;
    }
    65.00% {
        width: 215px;
        height: 241px;
        margin-left: 109px;
        border-top: 39px solid transparent;
        background-position: -2447px 0;
    }
    70.00% {
        width: 189px;
        height: 219px;
        margin-left: 135px;
        border-top: 61px solid transparent;
        background-position: -1237px 0;
    }
    75.00% {
        width: 227px;
        height: 213px;
        margin-left: 97px;
        border-top: 67px solid transparent;
        background-position: -2887px 0;
    }
    80.00% {
        width: 208px;
        height: 174px;
        margin-left: 116px;
        border-top: 106px solid transparent;
        background-position: -2027px 0;
    }
    85.00% {
        width: 175px;
        height: 197px;
        margin-left: 149px;
        border-top: 83px solid transparent;
        background-position: -341px 0;
    }
    90.00% {
        width: 178px;
        height: 222px;
        margin-left: 146px;
        border-top: 58px solid transparent;
        background-position: -871px 0;
    }
    95.00% {
        width: 178px;
        height: 236px;
        margin-left: 146px;
        border-top: 44px solid transparent;
        background-position: -693px 0;
    }
    100% {
        width: 178px;
        height: 236px;
        margin-left: 146px;
        border-top: 44px solid transparent;
        background-position: -693px 0;
    }
}
