.gka-base {
    
    /* background-size: contain;*/

    animation-timing-function: steps(1);
    animation-iteration-count: infinite;

    background-repeat: no-repeat;

    animation-fill-mode: forwards;

    /* Play once*/
    /* animation-iteration-count: 1; */
}

.animation {
    animation-name: keyframes;
    animation-duration: 0.8s;
}

@-webkit-keyframes keyframes {
    0% {
        width: 238px;
        height: 239px;
        margin: 41px 0 0 94px;
        background-image: url("./img/sprites-1.png");
        background-position: -534px 0;
    }
    5.00% {
        width: 177px;
        height: 245px;
        margin: 35px 0 0 147px;
        background-position: -169px 0;
    }
    10.00% {
        width: 169px;
        height: 238px;
        margin: 42px 0 0 155px;
        background-position: 0 0;
    }
    15.00% {
        width: 188px;
        height: 206px;
        margin: 75px 0 0 136px;
        background-position: -346px 0;
    }
    20.00% {
        width: 233px;
        height: 164px;
        margin: 120px 0 0 91px;
        background-image: url("./img/sprites-2.png");
        background-position: -615px 0;
    }
    25.00% {
        width: 212px;
        height: 225px;
        margin: 58px 0 0 112px;
        background-position: -172px 0;
    }
    30.00% {
        width: 172px;
        height: 238px;
        margin: 45px 0 0 152px;
        background-position: 0 0;
    }
    35.00% {
        width: 231px;
        height: 245px;
        margin: 40px 0 0 93px;
        background-position: -384px 0;
    }
    40.00% {
        width: 246px;
        height: 232px;
        margin: 51px 0 0 78px;
        background-image: url("./img/sprites-3.png");
        background-position: -627px 0;
    }
    45.00% {
        width: 225px;
        height: 230px;
        margin: 50px 0 0 99px;
        background-position: -402px 0;
    }
    50.00% {
        width: 202px;
        height: 250px;
        margin: 30px 0 0 122px;
        background-position: -200px 0;
    }
    55.00% {
        width: 200px;
        height: 243px;
        margin: 37px 0 0 124px;
        background-position: 0 0;
    }
    60.00% {
        width: 199px;
        height: 256px;
        margin: 24px 0 0 125px;
        background-image: url("./img/sprites-4.png");
        background-position: -189px 0;
    }
    65.00% {
        width: 215px;
        height: 241px;
        margin: 39px 0 0 109px;
        background-position: -388px 0;
    }
    70.00% {
        width: 189px;
        height: 219px;
        margin: 61px 0 0 135px;
        background-position: 0 0;
    }
    75.00% {
        width: 227px;
        height: 213px;
        margin: 67px 0 0 97px;
        background-position: -603px 0;
    }
    80.00% {
        width: 208px;
        height: 174px;
        margin: 106px 0 0 116px;
        background-image: url("./img/sprites-5.png");
        background-position: -531px 0;
    }
    85.00% {
        width: 175px;
        height: 197px;
        margin: 83px 0 0 149px;
        background-position: 0 0;
    }
    90.00% {
        width: 178px;
        height: 222px;
        margin: 58px 0 0 146px;
        background-position: -175px 0;
    }
    95.00% {
        width: 178px;
        height: 236px;
        margin: 44px 0 0 146px;
        background-position: -353px 0;
    }
    100% {
        width: 178px;
        height: 236px;
        margin: 44px 0 0 146px;
        background-position: -353px 0;
    }
}
